@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
 font-family: 'Poppins', sans-serif;
  background: #fff;
}
.main-div {
 background: #ee9ca7; 
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
background: linear-gradient(to right, #ffdde1, #ee9ca7);
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 7px;

}
.ref {
 display: block;
 margin-left: auto;
 margin-right: auto;
}
